@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
.warpper {
  overflow-x: hidden;
}

/* Remove margins from "page content" on small screens */
html,
body {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #333;
  letter-spacing: 0.1em;
  -webkit-text-size-adjust: none;
  word-wrap: break-word;
  font-family: "Lora", serif;
  background-image: url(../images/page-bg.webp);
}

p {
  letter-spacing: inherit;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 15px;
}
p:empty {
  display: none !important;
}
p:last-of-type {
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul li:last-child {
  padding-bottom: 0;
}

a {
  text-decoration: none;
}

.link a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1000px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding: 80px 0 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 769px) {
  .wrapper {
    min-width: 1200px;
  }
}
header .a-image {
  margin-top: 30px;
  text-align: center;
  display: inline-block;
  max-width: 640px;
  width: 100%;
  height: 600px;
}

h3 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #45505b;
  text-align: center;
}
h3::before, h3::after {
  position: absolute;
  content: "";
  display: block;
}
h3::before {
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
h3::after {
  width: 40px;
  height: 3px;
  background: #0563bb;
  bottom: 0;
  left: calc(50% - 20px);
}

.about .overview {
  margin-top: 20px;
}
.about .inner {
  margin-top: 30px;
}
.about .box_img {
  max-width: 300px;
  width: 43%;
  margin-right: 2%;
}
.about .box_info {
  max-width: 700px;
  width: 65%;
}
.about .box_info h3 {
  font-weight: 700;
  font-size: 26px;
  color: #728394;
}
.about .box_info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}
.about .box_info ul li {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  padding-left: 1em;
  position: relative;
}
.about .box_info ul li::before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 0.25em;
  background-color: #0563bb;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.about .box_info ul .left {
  font-weight: bold;
  color: #728394;
  width: 6.5em;
}
.about .box_info ul .right {
  width: calc(100% - 6.5em);
}

.resume .item {
  margin-bottom: 60px;
}
.resume .ttl {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #45505b;
}
.resume .school_name {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #0563bb;
  margin-bottom: 10px;
}
.resume .year {
  font-size: 16px;
  background: #f7f8f9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
.resume .branch {
  font-style: italic;
  margin-bottom: 10px;
  font-size: 18px;
}
.resume .content {
  padding-left: 2.5%;
  padding-bottom: 20px;
  border-left: 3px solid #0563bb;
  position: relative;
}
.resume .content::before {
  position: absolute;
  content: "";
  top: 0;
  left: -9.5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #0563bb;
}
.resume ul {
  margin: 10px 0;
}
.resume ul:last-child {
  margin-bottom: 0;
}
.resume ul li {
  padding-bottom: 15px;
  padding-left: 1em;
  position: relative;
}
.resume ul li:last-of-type {
  padding-bottom: 0;
}
.resume ul li::before {
  position: absolute;
  content: "";
  top: 0.25em;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #333;
}
.resume ul .link a {
  color: brown;
}
.resume ul.list01 li {
  padding-bottom: 10px;
}
.resume ul.list01 li a {
  font-weight: bold;
}
.resume ul.small {
  padding-left: 3%;
}
.resume ul.small li::before {
  top: 0;
  content: "+";
  background-color: transparent;
  border: none;
  border-radius: none;
}

.project .ttl {
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 500;
}
.project .ttl span {
  margin-left: 10px;
  color: #728394;
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 0;
}
.project .inner {
  margin-top: 60px;
}
.project .flex {
  margin-top: 30px;
}
.project .box {
  max-width: 300px;
  width: 32.5%;
  position: relative;
  margin-bottom: 30px;
}
.project .n-project {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 5px;
  font-weight: 500;
}

footer {
  background-image: url(../images/footer_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
/*# sourceMappingURL=style.css.map */