$main-color: #728394;
h3 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #45505b;
    text-align: center;
    &::before,
    &::after {
        @include position;
    }
    &::before {
        width: 120px;
        height: 1px;
        background: #ddd;
        bottom: 1px;
        left: calc(50% - 60px);
    }
    &::after {
        width: 40px;
        height: 3px;
        background: #0563bb;
        bottom: 0;
        left: calc(50% - 20px);
    }
}
.about {
    .overview {
        margin-top: 20px;
    }
    .inner {
        margin-top: 30px;
    }
    .box_img {
        max-width: 300px;
        width: 43%;
        margin-right: 2%;
    }
    .box_info {
        max-width: 700px;
        width: 65%;
        h3 {
            font-weight: 700;
            font-size: 26px;
            color: #728394;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 40px;
            li {
                width: 49%;
                display: flex;
                margin-bottom: 10px;
                padding-left: 1em;
                position: relative;
                &::before {
                    @include position;
                    left: 0;
                    top: 0.25em;
                    background-color: #0563bb;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                }
            }
            .left {
                font-weight: bold;
                color: #728394;
                width: 6.5em;
            }
            .right {
                width: calc(100% - 6.5em);
            }
        }
    }
}

.project{
    .ttl{
        font-size: 25px;
        text-transform: capitalize;
        font-weight: 500;
        span{
            margin-left: 10px;
            color: $main-color;
            font-weight: bold;
            font-size: 1.2em;
            letter-spacing: 0;
        }
    }
    .inner{
        margin-top: 60px;
    }
    .flex{
        margin-top: 30px;
    }
    .box{
        max-width: 300px;
        width: 32.5%;
        position: relative;
        margin-bottom: 30px;
    }
    .n-project{
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 5px;
        font-weight: 500;
    }
}